<div class="page-header">
<h1>Admin Dashboard</h1>
</div>
<h3>Product count: <%= @products.count %></h3>
<ul class="list-group">
<% @products.each do |product| %>
  <li class="list-group-item"><%= link_to product.name, product_path(product.id) %></li>
<% end %>
</ul>
<h3>Category count: <%= @categories.count %></h3>
<ul class="list-group">
<% @categories.each do |category| %>
  <li class="list-group-item"><%= link_to category.name, category_path(category.id) %></li>
<% end %>
</ul>